<app-ajirio-auth-form imageUrl="https://cdn.pixabay.com/photo/2020/01/29/20/24/building-4803602_1280.jpg"
    authPageTitle="Create Your Account" authPageTagLine="Unlock your potential. Find the perfect Gig."
    authButtonText="Create Account" pageRedirectText="Already have an account?" redirectLink="login">
    <div class="d-flex justify-content-between">
        <app-ajirio-form-input inputLabel="First Name" inputId="firstName" inputType="text"
            inputPlaceholder="First Name"></app-ajirio-form-input>
        <app-ajirio-form-input inputLabel="Last Name" inputId="lasttName" inputType="text"
            inputPlaceholder="Last Name"></app-ajirio-form-input>
    </div>
    <app-ajirio-form-input inputLabel="Email" inputId="userEmail" inputType="email"
        inputPlaceholder="you@example.com"></app-ajirio-form-input>
    <app-ajirio-form-input inputLabel="Password" inputId="userPassword" inputType="password"
        inputPlaceholder="Enter your password"></app-ajirio-form-input>
    <app-ajirio-form-input inputLabel="Confirm password" inputId="confirmPassword" inputType="password"
        inputPlaceholder="Confirm your password"></app-ajirio-form-input>
</app-ajirio-auth-form>