<app-ajirio-auth-form imageUrl="https://cdn.pixabay.com/photo/2020/01/29/20/24/building-4803602_1280.jpg"
    authPageTitle="Login to your account" authPageTagLine="Your next gig is waiting, sign in to get started."
    authButtonText="Sign In" pageRedirectText="Don't have an account?" redirectLink="register">
    <app-ajirio-form-input inputLabel="Email" inputId="userEmail" inputType="email"
        inputPlaceholder="you@example.com"></app-ajirio-form-input>
    <app-ajirio-form-input inputLabel="Password" inputId="userPassword" inputType="password"
        inputPlaceholder="Enter your password"></app-ajirio-form-input>
    <app-ajirio-form-input inputLabel="Confirm password" inputId="confirmPassword" inputType="password"
        inputPlaceholder="Confirm your password"></app-ajirio-form-input>
</app-ajirio-auth-form>