<div class="this-div container-fluid vh-lg-100 min-vh-100 d-flex justify-content-center align-items-center">
    <div class="small-login-box d-flex rounded shadow-lg">
        <div class="login-image-container half-box rounded-start py-3 px-2">
            <div class="container image-container-box centered-container">
                <img [src]="imageUrl()"
                    class="login-image app-full-width rounded img-fluid">
            </div>
        </div>
        <div class="login-text-container half-box rounded-end container-xl d-flex py-3">
            <div class="container w-full d-flex flex-column">
                <div class=" d-flex">
                    <div>
                        <img src="ajirio.png" alt="ajirio logo" class="ajiri-logo">
                    </div>
                    <div class="">
                        <h4 class="jiajiri-text">Jiajiri</h4>
                    </div>
                </div>
                <div>
                    <h2 class="ajiri-create-title">{{authPageTitle()}}</h2>
                    <p class="text-secondary">{{authPageTagLine()}}</p>
                </div>
                <div class="d-flex register-account-switcher">
                        <p [class.activeUserRole]="userRole==='Seeker'" (click)="setRole('Seeker')">Gig Seeker</p>
                        <p (click)="setRole('Employer')" [class.activeUserRole]="userRole==='Employer'">Employer</p>
                </div>
                <form>
                    <ng-content></ng-content>
                    <button class="btn app-vibrant-btn app-full-width my-3">{{authButtonText()}}</button>
                    <p class="text-center text-secondary">or continue with</p>
                    <button class="btn btn-light app-full-width font-weight-bold">Continue with google</button>
                </form>
                <p class="text-center text-secondary mt-2 auth-switch">{{pageRedirectText()}} <a [href]="redirectLink()"><span class="text-primary element-pointer">{{redirectLink()}}</span></a></p>
            </div>
        </div>
    </div>
</div>